#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath }}

name: {{ docker_project_slug }}

services:

  pihole:
    container_name: {{ docker_project_slug }}
    image: pihole/pihole:latest
    hostname: {{ pihole_container_hostname }}

    restart: always

    {% if pihole_mac_address is defined and pihole_mac_address %}
    networks:
      default:
        mac_address: "{{ pihole_mac_address }}"
    {% else %}
    network_mode: host
    {% endif %}

    {{ docker_project_compose_service_additional_options | indent(4) }}

    environment:
      - TZ={{ timezone | default('UTC', true) }}

      # admin password.
      - WEBPASSWORD={{ pihole_webpassword }}

      ## Optional Variables

      # Upstream DNS server(s)
      - PIHOLE_DNS_={{ pihole_dns }}

      # DNSSEC support
      - DNSSEC={{ pihole_dnssec | default(false) }}

      # Never forward reverse lookups for private ranges
      - DNS_BOGUS_PRIV={{ pihole_dns_bogus_priv | default(true) }}
      # Never forward non-FQDNs
      - DNS_FQDN_REQUIRED={{ pihole_dns_fqdn_required | default(true) }}

      # Enable DNS conditional forwarding for device name resolution
      - REV_SERVER={{ pihole_rev_server | default(false) }}
      # If conditional forwarding is enabled, set the domain of the local network router
      - REV_SERVER_DOMAIN={{ pihole_rev_server_domain | default('') }}
      # If conditional forwarding is enabled, set the IP of the local network router
      - REV_SERVER_TARGET={{ pihole_rev_server_target | default('') }}
      # If conditional forwarding is enabled, set the reverse DNS zone
      - REV_SERVER_CIDR={{ pihole_rev_server_cidr | default('') }}

      # User interface theme to use.
      - WEBTHEME=default-auto
      - WEBUIBOXEDLAYOUT=boxed

      ## Advanced Variables

      {% if pihole_interface is defined and pihole_interface %}
      - INTERFACE={{ pihole_interface }}
      {% endif %}
      # local listens on all local subnets,
      # all permits listening on internet origin subnets in addition to local,
      # single listens only on the interface specified.
      - DNSMASQ_LISTENING={{ pihole_dnsmasq_listening | default('single') }}

      - WEB_PORT=8081
      - CORS_HOSTS=127.0.0.1,localhost,pi.hole,{{ pihole_cors_hosts }}

      # FTL
      # blocked queries will be answered with the "unspecified address" (0.0.0.0 or ::).
      - FTLCONF_BLOCKINGMODE=NULL
      - FTLCONF_RATE_LIMIT={{ pihole_ftlconf_rate_limit }}
      - FTLCONF_MAXDBDAYS={{ pihole_ftlconf_maxdbdays | default(365) }}

    volumes:

      - type: bind
        source: ./etc-pihole
        target: /etc/pihole
        bind:
          create_host_path: true

      - type: bind
        source: ./etc-dnsmasq.d
        target: /etc/dnsmasq.d
        bind:
          create_host_path: true

    labels:
      {{ traefik_project_base_labels | indent(6) }}

      # What's up Docker? - https://github.com/getwud/wud
      wud.watch.digest: true

{{ docker_project_compose_additional_options }}
